body {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-family: sans-serif;
    /* line-height: 1.5; */
    min-height: 100vh;
    background: #DDE5F4;
    flex-direction: column;
    margin: 0;
}
.main {
    margin-top: 5vh;
    width: 60%;
    background-color: #F1F7FE;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    transition: transform 0.2s;
}
textarea {
    width: 100%; /* Full width */
    height: 100%; /* 80% of viewport height */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    overflow-y: auto; /* Add vertical scrollbar if needed */
    resize: none; /* Disable resizing */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 15px;

}

/* Simple style for the notification */
.notification {
    display: none;
    position: fixed;
    top: 20px;
    padding: 30px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
}
/* Style for the disabled button */
.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button-input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 15px;
}

button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 15px;
}