<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/filtering.png') }}">
    <title>Spam Filter</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="notification " id="notification">
                    {% for category, message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    <div class="main">
        <div class="row">
            <h1 class=" d-flex justify-content-center align-items-center">Spam Filter Detector</h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                <form action="/" method="post">
                    <div class="row position-relative mb-2">
                        <label for="message" class="d-flex align-items-center">
                            <h2>Enter your email:</h2>
                        </label>
                        <button type="submit" id="reset-button" name="reset" class="position-absolute d-flex justify-content-center align-items-center" style="right: 15px; width: 20px; height: 50px; border: none; background: transparent;">
                            <img src="{{ url_for('static', filename='img/circular.png') }}" alt="Icon" style="width: 30px; height: 30px;">
                        </button>
                    </div>
                    
                    <textarea name="message" id="message" rows="10" cols="30">{{ message }}</textarea><br>
                    <input type="submit" value="Check" id="check-button" class="disabled button-input" disabled>
                    
                </form>
            </div>
            <div class="col-md-4">
                <h2>Result:</h2>
                {% if prediction %}
                <h5>Spam Probability: <span style="color: red;">{{ spam_prob }}%</span></h5>
                <!-- <p>This message is classified as: <strong>{{ prediction }}</strong></p> -->
                <div class="row">
                    <form action="/feedback" method="post">
                        <input type="hidden" name="message" value="{{ message }}">
                        <label for="correct_classification">Is this classification correct?</label><br>
                        <input type="radio" id="correct" name="correct_classification" value="yes"> Yes<br>
                        <input type="radio" id="incorrect" name="correct_classification" value="no"> No<br>
                        <div id="correct_label_div" style="display:none;">
                            <label for="correct_label">Select correct label:</label><br>
                            <input type="radio" id="ham" name="correct_label" value="ham"> Ham<br>
                            <input type="radio" id="spam" name="correct_label" value="spam"> Spam<br>
                        </div>
                        <input type="submit" value="Submit Feedback" class="button-input">
                    </form>
                </div>
            {% endif %}
            </div>
        </div>
        <!-- Flash messages -->
        
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
